/target
/ideas
/out

/file_reader_backups

performance_problems.txt
my_app_run.data.third

# these are profiling files
*.data
*.data.old
*.annotation

config.ini

s25flags.txt

/data/*

check_categories.txt
